{% load i18n %}

<form class="ui  form{% if formset.has_changed and not formset.is_valid %} error{% endif %}" action="{% url 'users:profile:edit' name='emails' %}" method="post">
    {% csrf_token %}
    {{ formset.management_form }}

    {% for form in formset %}
        <div class="fields">
            {% include 'userflow/forms/_field-short.html' with field=form.email field_classes='four wide field' %}

            <div class="four wide field">
                {% include 'userflow/forms/_field-bool.html' with field=form.is_public field_classes='ui checkbox' %}
            </div>

            <div class="eight wide right aligned field">
                {% if form.instance.pk %}
                    {% if form.instance.is_primary %}
                        <span class="ui blue label">{% trans 'Primary' %}</span>
                    {% else %}
                        <a class="ui basic small button" href="javascript:void(0);">{% trans 'Make primary' %}</a>
                    {% endif %}
                    {% if form.instance.is_active %}
                        <span class="ui green label">{% trans 'Verified' %}</span>
                    {% else %}
                        <a class="ui basic small button" href="javascript:void(0);">{% trans 'Verify' %}</a>
                    {% endif %}
                {% endif %}
                {% for field in form.hidden_fields %}
                    {{ field }}
                {% endfor %}
            </div>

        </div>

    {% endfor %}

    <input type="submit" name="submit" value="{% trans 'Change' %}" class="ui primary button">

</form>
