{% extends 'userflow/base.html' %}

{% load i18n %}
{% load userflow_gravatar %}
{% load userflow_tags %}
{% load userflow_psa %}

{% block title %}{% trans 'My profile' %}{% endblock %}

{% block content %}
    <div class="ui grid">
        <div class="row">
            <div class="column">
                <div class="ui large breadcrumb">
                    <a href="/" class="section">{% trans 'Main' %}</a>
                    <i class="right chevron icon divider"></i>
                    <a href="{% url 'users:profile:view' %}" class="section">{% trans 'My profile' %}</a>
                    <i class="right chevron icon divider"></i>
                    <div class="active section">{% trans 'Edit' %}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui grid">
        <div class="row">
            <div class="three wide column">
                <img class="ui image" src="{% gravatar user.email size=200 default='identicon' %}">
            </div>

            <div class="thirteen wide column">

                <div class="ui horizontal divider" id="personal">{% trans 'Personal info' %}</div>
                {% include 'userflow/profile/tabs/personal.html' %}

                <div class="ui horizontal divider" id="about">{% trans 'About' %}</div>
                {% include 'userflow/forms/profile-about.html' %}

                <div class="ui horizontal divider" id="password">{% trans 'Password' %}</div>
                {% include 'userflow/profile/tabs/password.html' %}

                <div class="ui horizontal divider" id="emails">{% trans 'Emails' %}</div>
                {% include 'userflow/profile/tabs/emails.html' %}

                <div class="ui horizontal divider" id="contacts">{% trans 'Contacts' %}</div>
                {% include 'userflow/profile/tabs/contacts.html' %}

                {% is_psa_enabled as psa_enabled %}
                {% if psa_enabled %}
                    <div class="ui horizontal divider" id="accounts">{% trans 'Social accounts' %}</div>
                    {% include 'userflow/profile/tabs/accounts.html' %}
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}
