{% extends 'userflow/base.html' %}

{% load i18n %}

{% block title %}{% trans 'Reset password' %}{% endblock %}

{% block content %}
    {% if not confirmation %}
        <h1>{% trans 'Expired link :(' %}</h1>
        <p>{% trans 'Sorry, your link is expired' %}</p>
    {% else %}
        <h1>{% trans 'Password reset' %}</h1>
        <p>{% trans 'We have sent your confirmation email to' %} <strong>{{ confirmation.email }}</strong>.</p>
        <form action="{% url 'users:reset:request' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="email" value="{{ confirmation.email.email }}" />
            <input type="submit" class="ui primary button" value="{% trans 'Resend' %}" />
        </form>
    {% endif %}
{% endblock %}
